<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <%= render :partial => 'shared/error_messages', :object => @user.errors %>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div><div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  </div><div class="field">
    <%= f.label :admin, "Administrator?" %><br />
    <%= f.check_box :admin%>
  </div>
   </div><div class="field">
    <%= f.label :notify_followers, "Send mail when followers added / deleted?" %><br />
    <%= f.check_box :notify_followers%>
  </div>
  <div class="actions">
    <%= f.submit (controller.action_name=="new" ? "Sign Up!" : "Update!") %>
  </div>
<% end %>
