<%= form_for(micropost) do |f| %>
  <% if micropost.errors.any? %>
    <%= render :partial=>'shared/error_messages', :object => micropost.errors %>
  <% end %>
  <% if receiver %>
    <%= f.hidden_field :in_reply_to, { :value => receiver.id } %>
    <%= f.hidden_field :private, { :value => private } %>
  <% end %>
  <div class="field">
    <%= f.text_area :content, :onkeyup=>'charsleft(this)'  %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
  <!-- S'actualitza amb el numero de caracters escrits -->
  <div id="charNum">0</div>
<% end %>
